:root {
  --red: #d25858;
  --blue: #5fbbdd;
  --green: #2cab58;
  --light: #eaf3f5;
  --dark: #152f52;
}
.App {
  text-align: center;
  font-family: muli, sans-serif;
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light);

}

.heading {
  background: var(--green);
  padding: 1rem;
  border-radius: 1rem;
}

.videoContainer {
  background-color: var(--red);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.tagContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tags {
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
}


li {
  list-style-type: none;
}

ul {
  padding: 0;
}

p {
  margin: 2rem 5rem;''
}

input, select, button {
  width: 50%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem;
}
 
button {
  width: 30%;
}